In [166]:
import pandas as pd

In [167]:
def header_data_std(Frame):
    cols = []
    for i in range (len(Frame.columns)):
        cols.append(Frame.columns[i].lower().replace(" ","_"))
    return cols

In [168]:
def prn():
    print(file1.columns)
    print(file2.columns)
    print(file3.columns)
    return()

In [169]:
file1 = pd.read_csv('files_for_lab/csv_files/file1.csv')

In [170]:
file2 = pd.read_csv('files_for_lab/csv_files/file2.csv')

In [171]:
file3 = pd.read_csv('files_for_lab/csv_files/file3.csv')

In [172]:
print(file1.shape)

(4008, 11)

In [173]:
print(file2.shape)

(996, 11)

In [174]:
print(file3.shape)

(7070, 11)

In [175]:
prn()

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')
Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

()

In [176]:
file1.columns = header_data_std(file1)

In [177]:
file2.columns = header_data_std(file2)

In [178]:
file3.columns = header_data_std(file3)

In [179]:
prn()

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')
Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'total_claim_amount', 'policy_type', 'vehicle_class'],
      dtype='object')
Index(['customer', 'state', 'customer_lifetime_value', 'education', 'gender',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'total_claim_amount', 'vehicle_class'],
      dtype='object')

()

In [180]:
file1 = file1.rename(columns={ 'st':'state'})
file2 = file2.rename(columns={ 'st':'state'})

In [181]:
prn()

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')
Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'total_claim_amount', 'policy_type', 'vehicle_class'],
      dtype='object')
Index(['customer', 'state', 'customer_lifetime_value', 'education', 'gender',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'total_claim_amount', 'vehicle_class'],
      dtype='object')

()

In [182]:
file2 = file2[file1.columns]
file3 = file3[file1.columns]

In [183]:
prn()

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')
Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')
Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

()

In [184]:
data = pd.concat([file1,file2,file3], axis=0)

In [185]:
print(file1.shape)
print(file2.shape)
print(file3.shape)
print(data.shape)

(4008, 11)
(996, 11)
(7070, 11)
(12074, 11)

In [186]:
data.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [187]:
data.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

income, monthly_premium_auto and total_claim_amount are numerical, the rest are categorical.

In [188]:
temp = data.drop_duplicates()

In [189]:
temp.shape

(9135, 11)

In [190]:
null_df = pd.DataFrame(round(temp.isna().sum()/len(temp),4)*100)
null_df = null_df.reset_index()
null_df.columns = ['header','percentage_nulls']

In [191]:
null_df

                       header  percentage_nulls
0                    customer              0.01
1                       state              0.01
2                      gender              1.35
3                   education              0.01
4     customer_lifetime_value              0.09
5                      income              0.01
6        monthly_premium_auto              0.01
7   number_of_open_complaints              0.01
8                 policy_type              0.01
9               vehicle_class              0.01
10         total_claim_amount              0.01

In [192]:
columns_drop = null_df[null_df['percentage_nulls']>1]['header']

In [193]:
print(columns_drop.values)

['gender']

In [194]:
temp = temp.drop(columns_drop,axis=1)

In [195]:
temp.drop(['education','number_of_open_complaints'], axis =1, inplace=True)

In [196]:
temp.head()

,customer,state,customer_lifetime_value,income,monthly_premium_auto,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,697953.59%,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,1288743.17%,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,764586.18%,0.0,106.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,536307.65%,36357.0,68.0,Personal Auto,Four-Door Car,17.269323

In [197]:
temp['customer_lifetime_value'] = temp['customer_lifetime_value'].str.rstrip('%').astype('float') *100

In [198]:
temp.head()

,customer,state,customer_lifetime_value,income,monthly_premium_auto,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,69795359.0,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,128874317.0,48767.0,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,76458618.0,0.0,106.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,53630765.0,36357.0,68.0,Personal Auto,Four-Door Car,17.269323

In [199]:
temp.dtypes

customer                    object
state                       object
customer_lifetime_value    float64
income                     float64
monthly_premium_auto       float64
policy_type                 object
vehicle_class               object
total_claim_amount         float64
dtype: object

In [200]:
temp = temp.drop_duplicates()

In [201]:
filtered = temp[temp['income']<=0]

In [202]:
filtered.head()

,customer,state,customer_lifetime_value,income,monthly_premium_auto,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,69795359.0,0.0,94.0,Personal Auto,Four-Door Car,1131.464935
3,WW63253,California,76458618.0,0.0,106.0,Corporate Auto,SUV,529.881344
7,CF85061,Arizona,72161003.0,0.0,101.0,Corporate Auto,Four-Door Car,363.029680
10,SX51350,California,47389920.0,0.0,67.0,Personal Auto,Four-Door Car,482.400000

In [203]:
filtered.shape

(2293, 8)